.img {
  margin: 10px 0px;
}
.img img {
  max-width: 800px;
  border-radius: 10px;
}

.content {
  margin-bottom: 10px;
}

.link {
  text-decoration: none;
  color: black;
  font-size: 18px;
  font-weight: bold;
}
